.top-links {
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
    background-color: rgb(0, 162, 255);
    text-align: right;
    z-index: 1000;
    width: 100%;
}

.top-links a {
    margin-left: 20px;
    color: white;
}

body {
    background-color: blanchedalmond;
}

main {
    background-color: rgb(0, 162, 255);
}

header {
    position: relative;
}

header img {
    width: 100%;
}

.container {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        max-width: 1000px;
        color: white;
    }
